In [72]:
import pandas as pd
import matplotlib.pyplot as plt


pd.set_option('display.max_columns', 360)

In [73]:
blight = pd.read_csv('../P3_data/Blight_Violations.csv')

/Users/ivan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9,11,15,16,17,30) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [82]:
blight.head(3)

,X,Y,ticket_id,ticket_number,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,violator_id,mailing_address_str_number,mailing_address_str_name,city,state,zip_code,non_us_str_code,country,violation_date,ticket_issued_time,hearing_date,hearing_time,judgment_date,violation_code,violation_description,disposition,clean_up_cost,payment_amount,payment_date,payment_status,collection_status,violation_address,parcelno,oid,geom,fine_amount
7,-83.019172,42.339196,18653,05001708DAH,"Buildings, Safety Engineering & Env Department",Orbie Gailes,na Garden Court Apt.s,2900,JEFFERSON,NaN,1622,2900,E. Jefferson,Det,MI,48207,NaN,NaN,2005/01/14 00:00:00+00,1900/01/01 15:15:00,2005/02/14 00:00:00+00,09:00:00,2005/02/23 00:00:00+00,9-1-36(a),Failure of owner to obtain certificate of comp...,Responsible by Admission,NaN,NaN,2005/02/22 08:43:00+00,PAID IN FULL,NaN,2900 JEFFERSON,11000088.014,18653,NaN,NaN
11,-82.942097,42.388525,18657,05002500DAH,"Buildings, Safety Engineering & Env Department",Randy Schuman,APB LAUNDRY,15439,MACK,NaN,2368,15439,MACK,DETROIT,MI,48224,NaN,NaN,2005/01/14 00:00:00+00,1900/01/01 10:00:00,2005/02/17 00:00:00+00,03:00:00,2005/02/18 00:00:00+00,9-1-36(a),Failure of owner to obtain certificate of comp...,Responsible by Determination,NaN,NaN,2005/03/09 13:33:00+00,PAID IN FULL,NaN,15439 MACK,21001420.,18657,NaN,NaN
12,-82.946176,42.371778,18658,05002300DAH,"Buildings, Safety Engineering & Env Department",James Rhodes,HUGO CALISI,14214,JEFFERSON,NaN,2185,575,BRIARCLIF DRIVE,GROSSE POINTE,MI,48230,NaN,NaN,2005/01/14 00:00:00+00,1900/01/01 10:00:00,2005/02/14 00:00:00+00,01:30:00,2005/02/04 00:00:00+00,9-1-36(a),Failure of owner to obtain certificate of comp...,Responsible by Admission,NaN,NaN,2005/02/04 10:19:00+00,PAID IN FULL,NaN,14214 JEFFERSON,21000354.,18658,NaN,NaN

In [83]:
blight.shape

(97642, 36)

In [84]:
blight.payment_status.value_counts()

PAID IN FULL    97642
Name: payment_status, dtype: int64

In [79]:
blight = blight[blight.payment_status == 'PAID IN FULL']

In [71]:
# Selecting not important features to drop from DF

columns_to_drop = ['ticket_number', 'agency_name', 'inspector_name',
       'violator_name','violator_id', 'mailing_address_str_number',
       'mailing_address_str_name', 'city', 'state', 'zip_code',
       'non_us_str_code', 'country','ticket_issued_time',
       'hearing_time', 'violation_code',
       'violation_description', 'disposition', 'clean_up_cost',
       'payment_amount', 'collection_status',
       'violation_address', 'oid', 'geom', 'fine_amount']

In [49]:
blight = blight.drop(columns=columns_to_drop)

In [57]:
blight.parcelno.isna().value_counts()

False    59904
True     37738
Name: parcelno, dtype: int64

In [37]:
impr = pd.read_csv('data/Improve_Detroit_Issues.csv')

/Users/ivan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
impr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498496 entries, 0 to 498495
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   X                   453792 non-null  float64
 1   Y                   453792 non-null  float64
 2   id                  498496 non-null  int64
 3   status              498496 non-null  object
 4   request_type_title  498496 non-null  object
 5   description         396501 non-null  object
 6   web_url             498496 non-null  object
 7   report_method       498496 non-null  object
 8   priority_code       498496 non-null  int64
 9   created_at          498496 non-null  object
 10  acknowledged_at     449005 non-null  object
 11  closed_at           374487 non-null  object
 12  reopened_at         8944 non-null    object
 13  updated_at          498496 non-null  object
 14  days_to_close       175606 non-null  float64
 15  canonical_issue_id  13279 non-null   float64
 16  address             498488 non-null  object
 17  neighborhood        186002 non-null  object
 18  council_district    186089 non-null  float64
 19  oid                 498496 non-null  int64
dtypes: float64(5), int64(3), object(12)
memory usage: 76.1+ MB

In [45]:
parcel = pd.read_csv('data/Parcels.csv')

/Users/ivan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4,5,32) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [49]:
parcel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382099 entries, 0 to 382098
Data columns (total 37 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   object_id             382099 non-null  int64
 1   parcel_number         382099 non-null  object
 2   ward                  382099 non-null  int64
 3   address               382093 non-null  object
 4   council_district      380802 non-null  object
 5   zip_code              375174 non-null  object
 6   taxpayer_1            382095 non-null  object
 7   taxpayer_2            11880 non-null   object
 8   taxpayer_street       381953 non-null  object
 9   taxpayer_city         380427 non-null  object
 10  taxpayer_state        380419 non-null  object
 11  taxpayer_zip          381950 non-null  object
 12  property_class        382099 non-null  int64
 13  property_class_desc   382099 non-null  object
 14  use_code              376591 non-null  object
 15  use_code_desc         348680 non-null  object
 16  tax_status            382099 non-null  object
 17  total_square_footage  382099 non-null  float64
 18  total_acreage         382099 non-null  float64
 19  frontage              382099 non-null  float64
 20  depth                 382099 non-null  float64
 21  homestead_pre         382099 non-null  float64
 22  nez                   72588 non-null   object
 23  is_improved           382099 non-null  int64
 24  num_bldgs             382099 non-null  int64
 25  total_floor_area      237856 non-null  float64
 26  style                 237712 non-null  object
 27  year_built            237856 non-null  float64
 28  sale_price            382099 non-null  int64
 29  sale_date             382099 non-null  object
 30  assessed_value        382098 non-null  float64
 31  taxable_value         382098 non-null  float64
 32  landmap               381974 non-null  object
 33  related               14302 non-null   object
 34  zoning                376839 non-null  object
 35  subdivision           1645 non-null    object
 36  legal_description     382014 non-null  object
dtypes: float64(9), int64(6), object(22)
memory usage: 107.9+ MB

In [59]:
mcm = pd.read_csv('../P3_data/Motor_City_Mapping,_Winter_2013-14_Certified_Results.csv')

/Users/ivan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [60]:
mcm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 379549 entries, 0 to 379548
Data columns (total 33 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   OBJECTID           379549 non-null  int64
 1   D3_SurveyParcelID  379549 non-null  object
 2   CityParcelID2013   379549 non-null  object
 3   AddCombo           379549 non-null  object
 4   Address_Number     379549 non-null  object
 5   Address_Direction  379549 non-null  object
 6   Street             379549 non-null  object
 7   Zip                379549 non-null  object
 8   PCount             379549 non-null  int64
 9   Blext_ID           377209 non-null  float64
 10  User_ID            373229 non-null  float64
 11  Reviewer_ID        359568 non-null  float64
 12  Time_Surveyed      379549 non-null  object
 13  Updated_At         379549 non-null  object
 14  Status             373229 non-null  float64
 15  Photo_URL          373217 non-null  object
 16  Structure          373227 non-null  object
 17  Use_               373223 non-null  object
 18  Condition          261355 non-null  object
 19  Occupancy          261202 non-null  object
 20  Needs_Boarding     261271 non-null  object
 21  Fire               261284 non-null  object
 22  Dumping            373169 non-null  object
 23  Units              245276 non-null  object
 24  Improved           112058 non-null  object
 25  Maintained         112005 non-null  object
 26  PublicUse          7351 non-null    object
 27  Notes              31790 non-null   object
 28  GEOID10_Tract      379549 non-null  int64
 29  NAMELSAD10_Tract   379549 non-null  object
 30  GEOID10_Block      379549 non-null  int64
 31  NAME10_Block       379549 non-null  object
 32  GeoID10_BG         379549 non-null  int64
dtypes: float64(4), int64(5), object(24)
memory usage: 95.6+ MB

In [62]:
mcm

,OBJECTID,D3_SurveyParcelID,CityParcelID2013,AddCombo,Address_Number,Address_Direction,Street,Zip,PCount,Blext_ID,User_ID,Reviewer_ID,Time_Surveyed,Updated_At,Status,Photo_URL,Structure,Use_,Condition,Occupancy,Needs_Boarding,Fire,Dumping,Units,Improved,Maintained,PublicUse,Notes,GEOID10_Tract,NAMELSAD10_Tract,GEOID10_Block,NAME10_Block,GeoID10_BG
0,1,01000004.001,01000004.001,201 RANDOLPH,201,,RANDOLPH,48200,1,411094.0,2891.0,3284.0,2014/02/07 17:58:18+00,2014/08/27 15:31:15+00,1.0,https://wdwot.s3.amazonaws.com/blexts/000/411/...,yes,commercial,good,occupied,no,no,no,NaN,NaN,NaN,NaN,Parcel contains portion of Detroit-Windsor Tunnel,26163517200,Census Tract 5172,261635172001080,Block 1080,261635172001
1,2,01000004.002L,01000004.002L,159 RANDOLPH,159,,RANDOLPH,48200,1,411082.0,2891.0,3284.0,2014/02/07 17:57:31+00,2014/02/10 18:16:20+00,1.0,https://wdwot.s3.amazonaws.com/blexts/000/411/...,yes,commercial,good,occupied,no,no,no,NaN,NaN,NaN,NaN,NaN,26163517200,Census Tract 5172,261635172001082,Block 1082,261635172001
2,3,01000005.002L,01000005.002L,160 E JEFFERSON,160,E,JEFFERSON,,1,411127.0,2891.0,3284.0,2014/02/07 18:01:08+00,2014/02/10 18:15:49+00,1.0,https://wdwot.s3.amazonaws.com/blexts/000/411/...,yes,commercial,good,occupied,no,no,no,NaN,NaN,NaN,NaN,NaN,26163517200,Census Tract 5172,261635172001088,Block 1088,261635172001
3,4,01000007.002,01000007.002,110 E JEFFERSON,110,E,JEFFERSON,48226,1,411104.0,2891.0,3118.0,2014/02/07 17:58:55+00,2014/02/07 18:23:04+00,1.0,https://wdwot.s3.amazonaws.com/blexts/000/411/...,yes,commercial,good,occupied,no,no,no,NaN,NaN,NaN,NaN,Parcel contains portion of Detroit-Windsor Tunnel,26163517200,Census Tract 5172,261635172001080,Block 1080,261635172001
4,5,01000268.001,01000268.001,246 MADISON,246,,MADISON,48226,1,407449.0,2871.0,3055.0,2014/02/06 20:42:28+00,2014/02/07 12:08:19+00,1.0,https://wdwot.s3.amazonaws.com/blexts/000/407/...,no,private,NaN,NaN,NaN,NaN,no,NaN,improved,yes,NaN,NaN,26163517200,Census Tract 5172,261635172002035,Block 2035,261635172002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379544,379545,20000077.,20000077.,8941 W JEFFERSON,8941,W,JEFFERSON,48209,0,NaN,NaN,NaN,1970/01/01 00:00:00+00,1970/01/01 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26163524900,Census Tract 5249,261635249002051,Block 2051,261635249002
379545,379546,22092530.003,22092530.003L,15320 AUBURN,15320,,AUBURN,48223,2,NaN,NaN,NaN,1970/01/01 00:00:00+00,1970/01/01 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26163543400,Census Tract 5434,261635434002008,Block 2008,261635434002
379546,379547,22092530.001,22092530.001,15300 AUBURN,15300,,AUBURN,48223,2,NaN,NaN,NaN,1970/01/01 00:00:00+00,1970/01/01 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26163543400,Census Tract 5434,261635434002008,Block 2008,261635434002
379547,379548,01004139.3612,01004139.,1600 WOODWARD AVENUE,1600,,WOODWARD AVENUE,48226,1,378258.0,NaN,NaN,1970/01/01 00:00:00+00,1970/01/01 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26163517200,Census Tract 5172,261635172002017,Block 2017,261635172002
379548,379549,06006256.16930,06006256.002L,14300 WOODROW WILSON 2,14300,,WOODROW WILSON,48238,6,70500.0,2765.0,3082.0,2013/12/18 16:47:11+00,2014/01/24 16:33:55+00,1.0,https://wdwot.s3.amazonaws.com/blexts/000/070/...,yes,mixed,good,occupied,no,no,no,4+ units,NaN,NaN,NaN,"use changed to mixed, 4+ units",26163530100,Census Tract 5301,261635301001020,Block 1020,261635301001

In [69]:
blight

,X,Y,ticket_id,violation_street_number,violation_street_name,violation_zip_code,violation_date,hearing_date,judgment_date,payment_date,payment_status,parcelno
7,-83.019172,42.339196,18653,2900,JEFFERSON,NaN,2005/01/14 00:00:00+00,2005/02/14 00:00:00+00,2005/02/23 00:00:00+00,2005/02/22 08:43:00+00,PAID IN FULL,11000088.014
11,-82.942097,42.388525,18657,15439,MACK,NaN,2005/01/14 00:00:00+00,2005/02/17 00:00:00+00,2005/02/18 00:00:00+00,2005/03/09 13:33:00+00,PAID IN FULL,21001420.
12,-82.946176,42.371778,18658,14214,JEFFERSON,NaN,2005/01/14 00:00:00+00,2005/02/14 00:00:00+00,2005/02/04 00:00:00+00,2005/02/04 10:19:00+00,PAID IN FULL,21000354.
15,-83.045750,42.335121,18661,1310,BROADWAY,NaN,2005/01/14 00:00:00+00,2005/02/17 00:00:00+00,2005/02/18 00:00:00+00,2007/06/12 00:00:00+00,PAID IN FULL,01004004.
18,-83.044467,42.335210,18664,343,MACOMB,NaN,2005/01/14 00:00:00+00,2005/03/17 00:00:00+00,2005/03/23 00:00:00+00,2007/05/31 00:00:00+00,PAID IN FULL,01000207.
...,...,...,...,...,...,...,...,...,...,...,...,...
494642,NaN,NaN,539099,15255,HAZELRIDGE,48205,2020/09/12 00:00:00+00,2021/11/17 00:00:00+00,2021/02/03 00:00:00+00,2021/02/03 00:00:00+00,PAID IN FULL,NaN
494643,NaN,NaN,539100,15255,HAZELRIDGE,48205,2020/09/12 00:00:00+00,2021/11/17 00:00:00+00,2021/02/03 00:00:00+00,2021/02/03 00:00:00+00,PAID IN FULL,NaN
494645,NaN,NaN,539102,15255,HAZELRIDGE,48205,2020/09/12 00:00:00+00,2021/11/17 00:00:00+00,2021/02/03 00:00:00+00,2021/02/03 00:00:00+00,PAID IN FULL,NaN
494647,NaN,NaN,539104,15255,HAZELRIDGE,48205,2020/09/12 00:00:00+00,2021/11/17 00:00:00+00,2021/02/03 00:00:00+00,2021/02/03 00:00:00+00,PAID IN FULL,NaN
494929,-83.222085,42.338761,539417,6491,GREENVIEW,NaN,2021/01/07 00:00:00+00,2021/08/03 00:00:00+00,2021/02/08 12:15:00+00,2021/02/08 00:00:00+00,PAID IN FULL,22080742.

In [ ]:
'01000207.' in